body
{
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    height: 200%;
}
.nav
{
   height: 40px;
   position: fixed;
   width: 100%;
   background-color:white;
}
.nav a
{
    margin-left: 25px;
    font-size: 25px;
    text-decoration: none;
    color: black;
    font-size: 25px;
}
#mainbody
{
    top: 50px;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
}